<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lumio</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />

    <!-- Css Files -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/animated-headline.css" />
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="assets/css/boxicons.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <!-- Custom Cursor -->
    <div class="cursor"></div>
    <div class="cursor-pointer"></div>

    <!-- Preloader -->
    <div class="preloader">
      <div class="loader-line"></div>
    </div>

    <!-- Menu Button -->
    <div class="menu-btn">
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <!-- Overlay Effect -->
    <div class="overlay-effect"></div>

    <!-- Navigation -->
    <nav>
      <ul>
        <li><a class="nav-link" href="#hero" data-text="Inicio">Inicio</a></li>
        <li><a class="nav-link" href="#about" data-text="Acerca">Acerca</a></li>
        <li><a class="nav-link" href="#resume" data-text="Resumen">Resumen</a></li>
        <li><a class="nav-link" href="#portfolio" data-text="Portafolio">Portafolio</a></li>
        <li><a class="nav-link" href="#blog" data-text="Blog">Blog</a></li>
        <li><a class="nav-link" href="#contact" data-text="Contacto">Contacto</a></li>
      </ul>
    </nav>

    <div class="wrapper active" id="hero">
      <!-- Start Hero -->
      <section class="hero">
        <div class="container h-100">
          <div class="row align-items-center h-100">
            <div class="col-12">
              <h1>James Smith</h1>
              <h2 class="cd-headline clip is-full-width">
                <span>Soy un </span>
                <span class="cd-words-wrapper" style="width: 180.406px">
                  <b class="is-hidden">Desarrollador</b>
                  <b class="is-hidden">Diseñador</b>
                  <b class="is-visible">Freelancer</b>
                </span>
              </h2>
            </div>
          </div>
        </div>
        <div id="particles-js"></div>
        <a href="" class="logo">
          <img src="assets/img/logo.png" alt="Logo" class="img-fluid" />
        </a>
        <div class="social-icons">
          <a href="#"><i class="bx bxl-facebook"></i></a>
          <a href="#"><i class="bx bxl-instagram"></i></a>
          <a href="#"><i class="bx bxl-linkedin"></i></a>
          <a href="#"><i class="bx bxl-github"></i></a>
        </div>
      </section>
      <!-- End Hero -->
    </div>

    <div class="wrapper" id="about">
      <!-- Start About -->
      <section class="about">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="sec-title">
                <h1>Acerca</h1>
                <h2>DE MI</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row g-5">
                <div class="col-lg-4">
                  <div class="sec-image">
                    <img src="assets/img/about.png" alt="About" class="img-fluid" />
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="sec-content">
                    <h3>Soy James Smith</h3>
                    <p>
                      Soy una persona creativa y apasionada por la tecnología. Su trabajo consiste en diseñar y desarrollar sitios web que sean atractivos, funcionales y fáciles de usar.
                    </p>
                    <p>
                      Habilidad para traducir las necesidades de los clientes en soluciones web efectivas. Siempre estoy buscando nuevas tecnologías y tendencias para mejorar mis habilidades y ofrecer resultados innovadores.
                    </p>
                    <div class="row detail">
                      <div class="col-lg-6">
                        <ul>
                          <li><span>Nombre</span><span>James Smith</span></li>
                          <li><span>Cumpleaños</span><span>Mayo 24 2002</span></li>
                          <li><span>Dirección</span><span>San Juan de Aragon, MEX</span></li>
                          <li><span>Experiencia</span><span>6 Años</span></li>
                        </ul>
                      </div>
                      <div class="col-lg-6">
                        <ul>
                          <li><span>Correo</span><span>email@domain.com</span></li>
                          <li><span>Telefono</span><span>+012-3456-7891</span></li>
                          <li><span>Skype</span><span></span></li>
                          <li><span>Freelance</span><span>Disponible</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="button-box">
                      <a href="cv.txt" download class="button">Descarga mi CV</a>
                      <a href="#" class="button">Vamos Hablar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About -->

      <!-- Start Services -->
      <section class="services" id="services">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="sec-title">
                <h1>Servicios</h1>
                <h2>Mis Servicios</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="sec-content">
                <div class="service-container">
                  <div class="row g-4">
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="service-item">
                        <div class="service-card">
                          <i class="bx bx-code-alt"></i>
                          <h3>Desarrollo Web</h3>
                          <p>
                            Olvida las complicaciones. Nos encargamos de todo el proceso, desde el diseño hasta la implementación, para que puedas enfocarte en lo que realmente importa: tu negocio.
                          </p>
                          <div class="card-border">
                            <span class="top"></span>
                            <span class="right"></span>
                            <span class="bottom"></span>
                            <span class="left"></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="service-item">
                        <div class="service-card">
                          <i class="bx bx-pen"></i>
                          <h3>Diseño Grafico</h3>
                          <p>
                            ¿Quieres que tu marca sea memorable y atractiva? El diseño gráfico es la herramienta perfecta para comunicar tu mensaje de forma visual y efectiva.
                          </p>
                          <div class="card-border">
                            <span class="top"></span>
                            <span class="right"></span>
                            <span class="bottom"></span>
                            <span class="left"></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="service-item">
                        <div class="service-card">
                          <i class="bx bx-camera"></i>
                          <h3>Fotografia</h3>
                          <p>
                            ¿Quieres que tu sitio web sea visualmente impactante y cautive a tus visitantes? La fotografía web es la clave para crear una experiencia online memorable.
                            Capturamos la esencia de tu marca y productos con calidad y precisión.
                          </p>
                          <div class="card-border">
                            <span class="top"></span>
                            <span class="right"></span>
                            <span class="bottom"></span>
                            <span class="left"></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="service-item">
                        <div class="service-card">
                          <i class="bx bx-mobile-alt"></i>
                          <h3>Desarrollo Móvil</h3>
                          <p>
                            ¿Quieres conectar con tu público en cualquier momento y lugar? El desarrollo móvil es la solución perfecta para crear aplicaciones que satisfagan las necesidades de tus usuarios.
                          </p>
                          <div class="card-border">
                            <span class="top"></span>
                            <span class="right"></span>
                            <span class="bottom"></span>
                            <span class="left"></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="service-item">
                        <div class="service-card">
                          <i class="bx bx-movie-play"></i>
                          <h3>Edición de Video</h3>
                          <p>
                            ¿Quieres que tu mensaje online sea memorable y cautivador? La edición de video web te permite comunicar de forma dinámica y atractiva, creando contenido que impacta y conecta con tu audiencia.
                          </p>
                          <div class="card-border">
                            <span class="top"></span>
                            <span class="right"></span>
                            <span class="bottom"></span>
                            <span class="left"></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="service-item">
                        <div class="service-card">
                          <i class="bx bx-bar-chart-alt-2"></i>
                          <h3>SEO</h3>
                          <p>
                            El Seo s el proceso de optimizar tu página web para que aparezca en los primeros resultados de búsqueda de Google.
                            Utilizo técnicas como la investigación de palabras clave, la optimización del contenido, la mejora de la velocidad de carga y la construcción de enlaces.
                          </p>
                          <div class="card-border">
                            <span class="top"></span>
                            <span class="right"></span>
                            <span class="bottom"></span>
                            <span class="left"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services -->

      <!-- Start Testimonial -->
      <section class="testimonial" id="testimonial">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="sec-title">
                <h1>Testimonios</h1>
                <h2>Mis opiniones</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="sec-content">
                <div class="testimonial-slider owl-carousel owl-theme">
                  <div class="testimonial-item">
                    <div class="testimonial-card">
                      <div class="d-flex justify-content-between">
                        <div class="profile">
                          <div class="image">
                            <img src="assets/img/testimonial/1.png" alt="Testimonial" />
                          </div>
                          <div class="text">
                            <h3>Emma Wilson</h3>
                            <h5>UI/UX Designer</h5>
                          </div>
                        </div>
                        <i class="bx bxs-quote-right"></i>
                      </div>
                      <p>
                        ¡Increíble trabajo! John diseñó mi página web y la verdad es que superó mis expectativas. No solo es visualmente atractiva, sino que también es muy funcional y fácil de navegar. ¡Recomiendo sus servicios sin dudarlo!
                      </p>
                    </div>
                  </div>

                  <div class="testimonial-item">
                    <div class="testimonial-card">
                      <div class="d-flex justify-content-between">
                        <div class="profile">
                          <div class="image">
                            <img src="assets/img/testimonial/2.png" alt="Testimonial" />
                          </div>
                          <div class="text">
                            <h3>David Taylor</h3>
                            <h5>Software Engineer</h5>
                          </div>
                        </div>
                        <i class="bx bxs-quote-right"></i>
                      </div>
                      <p>
                        John es un verdadero profesional. Su experiencia en desarrollo web y diseño gráfico me permitió tener una aplicación móvil única y atractiva. El proceso fue fluido y siempre estuvo atento a mis necesidades. ¡Estoy muy contenta con el resultado!
                      </p>
                    </div>
                  </div>

                  <div class="testimonial-item">
                    <div class="testimonial-card">
                      <div class="d-flex justify-content-between">
                        <div class="profile">
                          <div class="image">
                            <img src="assets/img/testimonial/3.png" alt="Testimonial" />
                          </div>
                          <div class="text">
                            <h3>Alexander Johnson</h3>
                            <h5>Graphic Designer</h5>
                          </div>
                        </div>
                        <i class="bx bxs-quote-right"></i>
                      </div>
                      <p>
                        Busqué a alguien que pudiera crear un video promocional para mi negocio y John fue la mejor opción. La calidad del video es excepcional y la edición es impecable. ¡Definitivamente lo recomiendo a cualquier persona que necesite un video profesional!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Testimonial -->
    </div>

    <div class="wrapper" id="resume">
      <!-- Start Resume -->
      <section class="resume" id="resume">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="sec-title">
                <h1>Resumen</h1>
                <h2>Mi resumen profesional</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="sec-content">
                <div class="row align-items-center g-5">
                  <div class="col-lg-6">
                    <h2>Education</h2>
                    <div class="timeline">
                      <div class="timeline-item">
                        <div class="timeline-card">
                          <h5>2011 - 2014</h5>
                          <h3>Ciencias de la computación</h3>
                          <p>
                            Profundize en la teoría y la práctica de la comunicación estratégica, el marketing digital y la gestión de contenidos.
                          </p>
                          <div class="card-border">
                            <span class="top"></span><span class="right"></span><span class="bottom"></span
                            ><span class="left"></span>
                          </div>
                        </div>
                      </div>
                      <div class="timeline-item">
                        <div class="timeline-card">
                          <h5>2014 - 2016</h5>
                          <h3>Licenciatura</h3>
                          <p>
                            Me permitió comprender la construcción de sitios web y aplicaciones, mientras que la Licenciatura en Ciencias de la Comunicación le brindó las herramientas para comunicar de manera efectiva y estratégica.
                          </p>
                          <div class="card-border">
                            <span class="top"></span><span class="right"></span><span class="bottom"></span
                            ><span class="left"></span>
                          </div>
                        </div>
                      </div>
                      <div class="timeline-item">
                        <div class="timeline-card">
                          <h5>2016 - 2018</h5>
                          <h3>Maestria</h3>
                          <p>
                            La maestría me permitió profundizar en áreas como la investigación de mercados, la gestión de crisis y la comunicación corporativa.
                          </p>
                          <div class="card-border">
                            <span class="top"></span><span class="right"></span><span class="bottom"></span
                            ><span class="left"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <h2>Experiencia</h2>
                    <div class="timeline">
                      <div class="timeline-item">
                        <div class="timeline-card">
                          <h5>2018 - 2020</h5>
                          <h3>Diseñador UI/UX</h3>
                          <p>
                            Realize la investigación de usuarios y la creación de prototipos hasta la implementación de interfaces y la optimización de la experiencia del usuario.
                          </p>
                          <div class="card-border">
                            <span class="top"></span><span class="right"></span><span class="bottom"></span
                            ><span class="left"></span>
                          </div>
                        </div>
                      </div>
                      <div class="timeline-item">
                        <div class="timeline-card">
                          <h5>2020 - 2022</h5>
                          <h3>Desarrollador Front-End</h3>
                          <p>
                            Me enfoque en la creación de interfaces web atractivas y funcionales. Mi pasión por la tecnología y mi dominio de las últimas tecnologías web me convierten en un experto en la construcción de experiencias digitales excepcionales.
                          </p>
                          <div class="card-border">
                            <span class="top"></span><span class="right"></span><span class="bottom"></span
                            ><span class="left"></span>
                          </div>
                        </div>
                      </div>
                      <div class="timeline-item">
                        <div class="timeline-card">
                          <h5>2022 - 2024</h5>
                          <h3>Ingeniero en Software</h3>
                          <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium nostrum ex
                            perspiciatis sequi pariatur? Minus facilis consectetur ab autem esse!
                          </p>
                          <div class="card-border">
                            <span class="top"></span><span class="right"></span><span class="bottom"></span
                            ><span class="left"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Resume -->

      <!-- Start Skills -->
      <section class="skills">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="sec-title">
                <h1>Habilidades</h1>
                <h2>Mis Habilidades</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="sec-content">
                <div class="row align-items-center gx-5">
                  <div class="col-lg-6">
                    <div class="skill-card">
                      <div class="info">
                        <span class="name">HTML</span>
                        <span class="value">99%</span>
                      </div>
                      <div class="bar"><span></span></div>
                    </div>

                    <div class="skill-card">
                      <div class="info">
                        <span class="name">CSS</span>
                        <span class="value">98%</span>
                      </div>
                      <div class="bar"><span></span></div>
                    </div>

                    <div class="skill-card">
                      <div class="info">
                        <span class="name">JS</span>
                        <span class="value">95%</span>
                      </div>
                      <div class="bar"><span></span></div>
                    </div>

                    <div class="skill-card">
                      <div class="info">
                        <span class="name">Jquery</span>
                        <span class="value">93%</span>
                      </div>
                      <div class="bar"><span></span></div>
                    </div>

                    <div class="skill-card">
                      <div class="info">
                        <span class="name">React</span>
                        <span class="value">94%</span>
                      </div>
                      <div class="bar"><span></span></div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="skill-card">
                      <div class="info">
                        <span class="name">Photoshop</span>
                        <span class="value">93%</span>
                      </div>
                      <div class="bar"><span></span></div>
                    </div>

                    <div class="skill-card">
                      <div class="info">
                        <span class="name">Illustrator</span>
                        <span class="value">90%</span>
                      </div>
                      <div class="bar"><span></span></div>
                    </div>

                    <div class="skill-card">
                      <div class="info">
                        <span class="name">Figma</span>
                        <span class="value">95%</span>
                      </div>
                      <div class="bar"><span></span></div>
                    </div>

                    <div class="skill-card">
                      <div class="info">
                        <span class="name">Premiere Pro</span>
                        <span class="value">86%</span>
                      </div>
                      <div class="bar"><span></span></div>
                    </div>

                    <div class="skill-card">
                      <div class="info">
                        <span class="name">Blender</span>
                        <span class="value">78%</span>
                      </div>
                      <div class="bar"><span></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Skills -->
    </div>

    <div class="wrapper" id="portfolio">
      <!-- Start Portfolio -->
      <section class="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="sec-title">
                <h1>Portafolio</h1>
                <h2>Mi portafolio</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="sec-content">
                <div class="row">
                  <div class="col-12">
                    <ul class="filter-list">
                      <li class="filter active" data-filter="*">Todo</li>
                      <li class="filter" data-filter="web-design">Diseño Web</li>
                      <li class="filter" data-filter="graphic-design">Desarrollo Web</li>
                      <li class="filter" data-filter="development">Desarrollo</li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="portfolio-container">
                      <div class="portfolio-item" data-filter="web-design">
                        <div class="portfolio-card">
                          <img src="assets/img/portfolio/1.png" alt="Project" />
                          <div class="overlay">
                            <div class="text">
                              <h3>Landing Page</h3>
                              <p>
                                Una breve descripción de las habilidades y experiencia del usuario, destacando sus logros y proyectos más relevantes.
                              </p>
                              <a href="assets/img/portfolio/1.png">
                                <i class="bx bx-link-external"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="portfolio-item" data-filter="graphic-design">
                        <div class="portfolio-card">
                          <img src="assets/img/portfolio/2.png" alt="Project" />
                          <div class="overlay">
                            <div class="text">
                              <h3>Anuncio</h3>
                              <p>
                                Visualmente atractivo, con imágenes de alta calidad y un diseño que se destaque en la página web.
                              </p>
                              <a href="assets/img/portfolio/2.png">
                                <i class="bx bx-link-external"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="portfolio-item" data-filter="development">
                        <div class="portfolio-card">
                          <img src="assets/img/portfolio/3.png" alt="Project" />
                          <div class="overlay">
                            <div class="text">
                              <h3>Aplicación de musica</h3>
                              <p>
                                Una aplicación que permite a los usuarios escuchar una selección de música que representa el estilo y la personalidad del usuario.
                              </p>
                              <a href="assets/img/portfolio/3.png">
                                <i class="bx bx-link-external"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="portfolio-item" data-filter="web-design">
                        <div class="portfolio-card">
                          <img src="assets/img/portfolio/4.png" alt="Project" />
                          <div class="overlay">
                            <div class="text">
                              <h3>Aplicaciones Web</h3>
                              <p>
                                Diseño responsive, código limpio y bien documentado, funcionalidades útiles y atractivas.
                              </p>
                              <a href="assets/img/portfolio/4.png">
                                <i class="bx bx-link-external"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="portfolio-item" data-filter="graphic-design">
                        <div class="portfolio-card">
                          <img src="assets/img/portfolio/5.png" alt="Project" />
                          <div class="overlay">
                            <div class="text">
                              <h3>Maqueta de productos</h3>
                              <p>
                                Imágenes de alta calidad, diseño realista y atención al detalle.
                                Diseño: Moderno, atractivo y profesional.
                              </p>
                              <a href="assets/img/portfolio/5.png">
                                <i class="bx bx-link-external"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="portfolio-item" data-filter="development">
                        <div class="portfolio-card">
                          <img src="assets/img/portfolio/6.png" alt="Project" />
                          <div class="overlay">
                            <div class="text">
                              <h3>Gestion de Redes Sociales</h3>
                              <p>
                                Diseño consistente en todas las plataformas, contenido atractivo y de alta calidad, engagement con la audiencia.
                              </p>
                              <a href="assets/img/portfolio/6.png">
                                <i class="bx bx-link-external"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio -->

      <!-- Start Counters -->
      <section class="counters">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="sec-title">
                <h1>Estadisticas</h1>
                <h2>Mis estadisticas</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="sec-content">
                <div class="row g-4">
                  <div class="col-md-6 col-xl-3">
                    <div class="counter-card">
                      <i class="bx bx-shopping-bag"></i>
                      <div class="text">
                        <h3><span class="counter">100</span>+</h3>
                        <h5>Proyectos terminados</h5>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-xl-3">
                    <div class="counter-card">
                      <i class="bx bx-happy"></i>
                      <div class="text">
                        <h3><span class="counter">80</span>+</h3>
                        <h5>Clientes satisfechos</h5>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-xl-3">
                    <div class="counter-card">
                      <i class="bx bx-award"></i>
                      <div class="text">
                        <h3><span class="counter">25</span>+</h3>
                        <h5>Premios ganados</h5>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-xl-3">
                    <div class="counter-card">
                      <i class="bx bx-code-alt"></i>
                      <div class="text">
                        <h3><span class="counter">1500</span>+</h3>
                        <h5>Lineas de codigo</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Counters -->
    </div>

    <div class="wrapper" id="blog">
      <!-- Start Blog -->
      <section class="blog">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="sec-title">
                <h1>Blog</h1>
                <h2>Ultimas noticias</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="sec-content">
                <div class="blog-container">
                  <div class="row g-5">
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="blog-item">
                        <div class="blog-card">
                          <div class="image">
                            <img src="assets/img/blog/1.png" alt="News Thumbnail" class="img-fluid" />
                          </div>
                          <div class="text">
                            <h6><i class="bx bxs-calendar"></i>Ene 12, 2024</h6>
                            <h3>Landing Page Mastery:</h3>
                            <p>
                              Un blog dedicado a la creación de landing pages de alto rendimiento. Ofrece consejos, estrategias y ejemplos de landing pages exitosas, cubriendo temas como diseño, copywriting, optimización y análisis.
                            </p>
                            <a href="#">
                              <span>Ver más</span>
                              <i class="bx bx-right-arrow-alt"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="blog-item">
                        <div class="blog-card">
                          <div class="image">
                            <img src="assets/img/blog/2.png" alt="News Thumbnail" class="img-fluid" />
                          </div>
                          <div class="text">
                            <h6><i class="bx bxs-calendar"></i>Feb 16, 2024</h6>
                            <h3>Anuncios Web: El Arte de la Conversión:</h3>
                            <p>
                              Desde la creación de anuncios efectivos hasta la gestión de campañas publicitarias.
                            </p>
                            <a href="#">
                              <span>Ver más</span>
                              <i class="bx bx-right-arrow-alt"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="blog-item">
                        <div class="blog-card">
                          <div class="image">
                            <img src="assets/img/blog/3.png" alt="News Thumbnail" class="img-fluid" />
                          </div>
                          <div class="text">
                            <h6><i class="bx bxs-calendar"></i>May 02, 2024</h6>
                            <h3>Música Digital: Un Mundo de Sonido:</h3>
                            <p>
                              Un blog que explora el panorama de la música digital, desde las últimas tendencias en aplicaciones de música hasta la creación de música y podcasts.
                            </p>
                            <a href="#">
                              <span>Ver más</span>
                              <i class="bx bx-right-arrow-alt"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="blog-item">
                        <div class="blog-card">
                          <div class="image">
                            <img src="assets/img/blog/4.png" alt="News Thumbnail" class="img-fluid" />
                          </div>
                          <div class="text">
                            <h6><i class="bx bxs-calendar"></i>Dic 12, 2023</h6>
                            <h3>Aplicaciones Web: Desarrollando el Futuro:</h3>
                            <p>
                              Un blog dedicado al mundo del desarrollo web, con artículos sobre las últimas tecnologías, lenguajes de programación, frameworks y tendencias en desarrollo de aplicaciones web.
                            </p>
                            <a href="#">
                              <span>Ver más</span>
                              <i class="bx bx-right-arrow-alt"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="blog-item">
                        <div class="blog-card">
                          <div class="image">
                            <img src="assets/img/blog/5.png" alt="News Thumbnail" class="img-fluid" />
                          </div>
                          <div class="text">
                            <h6><i class="bx bxs-calendar"></i>Nov 20, 2023</h6>
                            <h3>Maquetas de Productos: Del Diseño a la Realidad:</h3>
                            <p>
                              Un blog que explora el proceso de creación de maquetas de productos, desde el diseño conceptual hasta la presentación final. Ofrece consejos para diseñadores, ilustradores y artistas 3D.
                            </p>
                            <a href="#">
                              <span>Ver más</span>
                              <i class="bx bx-right-arrow-alt"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="blog-item">
                        <div class="blog-card">
                          <div class="image">
                            <img src="assets/img/blog/6.png" alt="News Thumbnail" class="img-fluid" />
                          </div>
                          <div class="text">
                            <h6><i class="bx bxs-calendar"></i>Oct 22, 2023</h6>
                            <h3>Redes Sociales: Dominando el Juego:</h3>
                            <p>
                              Un blog que ofrece consejos y estrategias para gestionar las redes sociales de manera efectiva. Abarca temas como la creación de contenido, la gestión de comunidades, el análisis de datos y las últimas tendencias en redes sociales.
                            </p>
                            <a href="#">
                              <span>Ver más</span>
                              <i class="bx bx-right-arrow-alt"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Blog -->
    </div>

    <div class="wrapper" id="contact">
      <!-- Start Contact -->
      <section class="contact" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="sec-title">
                <h1>Contacto</h1>
                <h2>¡Contactanos!</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="sec-content">
                <div class="row g-5">
                  <div class="col-lg-7">
                    <div class="contact-form">
                      <form action="#" id="contact-form">
                        <div class="row g-4">
                          <div class="col-lg-6">
                            <div class="form-group">
                              <input type="text" placeholder="Nombre" class="form-control" />
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <input type="email" placeholder="Email" class="form-control" />
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="form-group">
                              <input type="text" placeholder="Tema" class="form-control" />
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="form-group">
                              <textarea rows="7" placeholder="Mensaje" class="form-control"></textarea>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="form-group">
                              <span class="form-message"></span>
                            </div>
                          </div>
                          <div class="col-lg-8">
                            <div class="form-group">
                              <button type="submit" class="button">
                                Enviar <i class="bx bxs-paper-plane"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="detail">
                      <h2>Si te gusto esta plantilla ¡Contactanos!</h2>
                      <p>
                        
                      </p>
                      <ul>
                        <li>
                          <i class="bx bxs-map"></i>
                          <div class="text">
                            <h4>Dirección</h4>
                            <h5>Av 557 35, San Juan De Aragon SECC II</h5>
                          </div>
                        </li>
                        <li>
                          <i class="bx bxs-phone-call"></i>
                          <div class="text">
                            <h4>Phone Number</h4>
                            <h5><a href="tel:555-555-1234">+52 55 6483 8628</a></h5>
                          </div>
                        </li>
                        <li>
                          <i class="bx bxs-envelope"></i>
                          <div class="text">
                            <h4>Email</h4>
                            <h5><a href="mailto:example@email.com">contacto@cassen.mx</a></h5>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact -->
    </div>

    <!-- Js Files -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/animated-headline.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/particles.min.js"></script>
    <script src="assets/js/particles.init.js"></script>
    <script src="assets/js/gsap.min.js"></script>
    <script src="assets/js/ScrollTrigger.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
