section#about(style="background-color:#fff;")
	.container
		.row.justify-content-center
			.col-lg-8
				.al-heading.text-center
					h2.al-heading__title About Us
					p.al-heading__description Our succsess stories
		.row
			.col-lg-6.align-self-center
				p Tristique velit phasellus sed auctor leo eros luctus nibh fermentum, ad imperdiet rhoncus dolorhabitant purus velit aliquet donecurna ut in turpis faucibus Diam orci dapibus id blandit fames, congue urna blandit lobortis praesent, viverra quisque vel eget etiam aenean tincidunt fringilla et ultrices quisque ultricies ante donec, phasellus bibendum consequat fames ac eros ornare placerat.
			.col-lg-6
				.al-play-video
					img.img-responsive(src="images/photo1.jpg", alt="" )
					a(href="https://www.youtube.com/watch?v=kvJxX7fk0gI" class="al-play-video__button")
						i.fa.fa-play