section.al-bg-dark.al-bg-img(data-image="images/bg.jpg")
	.container
		.row.justify-content-center
			.col-lg-8
				.al-heading.al-heading-white.text-center
					h2.al-heading__title Clients Statistic
					.al-heading__description Tristique velit phasellus sed auctor leo eros luctus nibh fermentum, ad imperdiet rhoncus dolorhabitant purus velit aliquet donecurna ut in turpis
		.row.justify-content-center
			.col-lg-3.col-6
				.al-animate-number
					.al-service-item__icon
						i.icofont test_tube_alt
					.al-animate-number__title Total Projects
					.al-animate-number__number
						span(data-min='0' data-max='900' data-delay='5' data-increment='6' class='numscroller') 0
			.col-lg-3.col-6
				.al-animate-number
					.al-service-item__icon
						i.icofont users_social
					.al-animate-number__title Happy Clients
					.al-animate-number__number
						span(data-min='0' data-max='2000' data-delay='5' data-increment='6' class='numscroller') 0
			.col-lg-3.col-6
				.al-animate-number
					.al-service-item__icon
						i.icofont users_alt_2
					.al-animate-number__title Regular Clients
					.al-animate-number__number
						span(data-min='0' data-max='900' data-delay='5' data-increment='6' class='numscroller') 0
			.col-lg-3.col-6
				.al-animate-number
					.al-service-item__icon
						i.icofont speech_comments
					.al-animate-number__title Client’s  Feedback
					.al-animate-number__number
						span(data-min='0' data-max='120' data-delay='5' data-increment='3' class='numscroller') 0