section(style="background-color:#f9f9f9;")
	.container
		.row.justify-content-center
			.col-lg-8
				.al-heading.text-center
					h2.al-heading__title Frequently Asked Questions
					p.al-heading__description Tristique velit phasellus sed auctor leo eros luctus nibh fermentum, ad imperdiet rhoncus dolorhabitant purus velit aliquet donecurna ut in turpis
		.row
			.col-12
				.al-faq
					h3.al-faq__title How do I keep my lorem ipsum for Business conversation window visible?
					.al-faq__content
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non hic neque eligendi inventore ducimus vel error ullam atque cumque.
					h3.al-faq__title How do I keep my lorem ipsum for Business conversation window visible?
					.al-faq__content
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore soluta suscipit dignissimos aliquam atque totam vero voluptatibus ratione? Repellat, dolore! Maiores omnis eveniet corporis odio officia at velit placeat dolores enim facere, quo modi eaque quidem odit quas, rerum dolor? Ducimus modi delectus, harum explicabo dolorem sit debitis quasi eligendi. 
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate atque cum commodi suscipit iure, incidunt numquam in doloribus minus excepturi, voluptas obcaecati doloremque itaque odio qui molestias quos nihil labore.
					h3.al-faq__title Why am I having lorem ipsum dolor sit amet?
					.al-faq__content
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore soluta suscipit dignissimos aliquam atque totam vero voluptatibus ratione? Repellat, dolore! Maiores omnis eveniet corporis odio officia at velit placeat dolores enim facere, quo modi eaque quidem odit quas, rerum dolor? Ducimus modi delectus, harum explicabo dolorem sit debitis quasi eligendi. 
					h3.al-faq__title What does the red star or lorem ipsum dolor sit amet status mean?
					.al-faq__content
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore soluta suscipit dignissimos aliquam atque totam vero voluptatibus ratione? Repellat, dolore! Maiores omnis eveniet corporis odio officia at velit placeat dolores enim facere, quo modi eaque quidem odit quas, rerum dolor? Ducimus modi delectus, harum explicabo dolorem sit debitis quasi eligendi. 
					h3.al-faq__title Lorem ipsum dolor sit amet contact to my Contacts list?
					.al-faq__content
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore soluta suscipit dignissimos aliquam atque totam vero voluptatibus ratione? Repellat, dolore! Maiores omnis eveniet corporis odio officia at velit placeat dolores enim facere, quo modi eaque quidem odit quas, rerum dolor? Ducimus modi delectus, harum explicabo dolorem sit debitis quasi eligendi. 
					h3.al-faq__title Lorem ipsum dolor sit amet contact to my Contacts list?
					.al-faq__content 
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore soluta suscipit dignissimos aliquam atque totam vero voluptatibus ratione? Repellat, dolore! Maiores omnis eveniet corporis odio officia at velit placeat dolores enim facere, quo modi eaque quidem odit quas, rerum dolor? Ducimus modi delectus, harum explicabo dolorem sit debitis quasi eligendi. 
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate atque cum commodi suscipit iure, incidunt numquam in doloribus minus excepturi, voluptas obcaecati doloremque itaque odio qui molestias quos nihil labore.