section(style="background-color:#fff;")
    .container
        .row.justify-content-center
            .col-lg-8
                .al-heading.text-center
                    h2.al-heading__title How We Work
                    p.al-heading__description Tristique velit phasellus sed auctor leo eros luctus nibh fermentum, ad imperdiet rhoncus dolorhabitant purus velit aliquet donecurna ut in turpis
    .al-how-works
        .al-how-works__nav
            .al-how-works__nav__arrows
                
                .al-how-works__nav__arrows__prev
                    i.fa.fa-angle-left
                .al-how-works__nav__dots
                    .al-how-works__nav__progress
                        .al-how-works__nav__progress__count
                .al-how-works__nav__arrows__next
                    i.fa.fa-angle-right        
        .al-how-works__content
            .al-how-works__content__step
                .container
                    .row
                        .col-lg-6
                            .al-how-works__content
                                h4.al-how-works__content__title Finding Problems
                                .al-how-works__content__description The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor ultrices etiams fusce aliqm non dictmst dapib alorem
                                .al-faq.al-faq-icon
                                    h3.al-faq__title
                                        i.icofont calculator
                                        |The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor
                                    .al-faq__content
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non hic neque eligendi inventore ducimus vel error ullam atque cumque.
                                    h3.al-faq__title
                                        i.icofont github
                                        |The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor
                                    .al-faq__content
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non hic neque eligendi inventore ducimus vel error ullam atque cumque.
                                    h3.al-faq__title
                                        i.icofont ember
                                        |The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor
                                    .al-faq__content
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non hic neque eligendi inventore ducimus vel error ullam atque cumque.
                        .col-lg-6
                            img.img-responsive(src="images/photo1.jpg", alt="" )
            .al-how-works__content__step
                .container    
                    .row
                        .col-lg-6
                            .al-how-works__content
                                h4.al-how-works__content__title Resolve Problems
                                .al-how-works__content__description The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor ultrices etiams fusce aliqm non dictmst dapib alorem
                                .al-faq.al-faq-icon
                                    h3.al-faq__title
                                        i.icofont calculator
                                        |The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor
                                    .al-faq__content
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non hic neque eligendi inventore ducimus vel error ullam atque cumque.
                                    h3.al-faq__title
                                        i.icofont github
                                        |The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor
                                    .al-faq__content
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non hic neque eligendi inventore ducimus vel error ullam atque cumque.
                                    h3.al-faq__title
                                        i.icofont ember
                                        |The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor
                                    .al-faq__content
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non hic neque eligendi inventore ducimus vel error ullam atque cumque.
                        .col-lg-6
                            img.img-responsive(src="images/photo1.jpg", alt="" )
            .al-how-works__content__step
                .container    
                    .row
                        .col-lg-6
                            .al-how-works__content
                                h4.al-how-works__content__title Finish Problems
                                .al-how-works__content__description The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor ultrices etiams fusce aliqm non dictmst dapib alorem
                                .al-faq.al-faq-icon
                                    h3.al-faq__title
                                        i.icofont calculator
                                        |The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor
                                    .al-faq__content
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non hic neque eligendi inventore ducimus vel error ullam atque cumque.
                                    h3.al-faq__title
                                        i.icofont github
                                        |The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor
                                    .al-faq__content
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non hic neque eligendi inventore ducimus vel error ullam atque cumque.
                                    h3.al-faq__title
                                        i.icofont ember
                                        |The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor
                                    .al-faq__content
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non hic neque eligendi inventore ducimus vel error ullam atque cumque.
                        .col-lg-6
                            img.img-responsive(src="images/photo1.jpg", alt="" )
            .al-how-works__content__step
                .container    
                    .row
                        .col-lg-6
                            .al-how-works__content
                                h4.al-how-works__content__title Finish Two Problems
                                .al-how-works__content__description The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor ultrices etiams fusce aliqm non dictmst dapib alorem
                                .al-faq.al-faq-icon
                                    h3.al-faq__title
                                        i.icofont calculator
                                        |The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor
                                    .al-faq__content
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non hic neque eligendi inventore ducimus vel error ullam atque cumque.
                                    h3.al-faq__title
                                        i.icofont github
                                        |The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor
                                    .al-faq__content
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non hic neque eligendi inventore ducimus vel error ullam atque cumque.
                                    h3.al-faq__title
                                        i.icofont ember
                                        |The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor
                                    .al-faq__content
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non hic neque eligendi inventore ducimus vel error ullam atque cumque.
                        .col-lg-6
                            img.img-responsive(src="images/photo1.jpg", alt="" )
            