section(style="background-color:#f9f9f9;")
	.container
		.row.justify-content-center
			.col-lg-8
				.al-heading.text-center
					h2.al-heading__title Our Pricing Plans
					p.al-heading__description Tristique velit phasellus sed auctor leo eros luctus nibh fermentum, ad imperdiet rhoncus dolorhabitant purus velit aliquet donecurna ut in turpis
	.al-tabs.al-prices-tabs
		.container
			.row
				.col-md-12
					ul.al-prices-tabs__navigation
						li
							a(href="#monthly") Monthly Paid
						li
							a(href="#yearly") Yearly Paid
		#monthly.fade
			.container
				.row
					.col-lg-4
						.al-price-table
							.al-price-table__head
								.al-price-table__head__name Entry Level 
								.al-price-table__head__price 19$
							.al-price-table__body
								ul
									li 10 GB Storage
									li Domain Extension
									li Unlimited Bandwidth
									li Fast Upload Speed
									li Free Backup
									li Fast Tools
									li 1TB Cloud Backup
									li
										a(href="#" class="al-btn al-btn-border") Select

					.col-lg-4
						.al-price-table.al-most-price
							.al-price-table__head
								.al-price-table__head__name Professional
								.al-price-table__head__price 59$
							.al-price-table__body
								ul
									li 70 GB Storage
									li Domain Extension Support
									li Unlimited Bandwidth
									li Free Backup
									li Fast Tools
									li Fast Download Speed
									li Unlimited Cloud Backup
									li
										a(href="#" class="al-btn") Choose
					.col-lg-4
						.al-price-table
							.al-price-table__head
								.al-price-table__head__name Premium Plus 
								.al-price-table__head__price 99$
							.al-price-table__body
								ul
									li 99 GB Cloud Storage
									li Personal Domain Extension
									li Unlimited Bandwidth
									li Free Backup
									li Fast Tools
									li 10 Gbps Transfer Rate
									li Unlimited Cloud Backup
									li
										a(href="#" class="al-btn al-btn-border") Select
		#yearly.fade
			.container
				.row
					.col-lg-4
						.al-price-table
							.al-price-table__head
								.al-price-table__head__name Entry Level 
								.al-price-table__head__price 190$
							.al-price-table__body
								ul
									li 10 GB Storage
									li Domain Extension
									li Free Backup
									li Fast Tools
									li Unlimited Bandwidth
									li Fast Upload Speed
									li 1TB Cloud Backup
									li
										a(href="#" class="al-btn al-btn-border") Select

					.col-lg-4
						.al-price-table.al-most-price
							.al-price-table__head
								.al-price-table__head__name Professional
								.al-price-table__head__price 590$
							.al-price-table__body
								ul
									li 70 GB Storage
									li Domain Extension Support
									li Unlimited Bandwidth
									li Free Backup
									li Fast Tools
									li Fast Download Speed
									li Unlimited Cloud Backup
									li
										a(href="#" class="al-btn") Choose
					.col-lg-4
						.al-price-table
							.al-price-table__head
								.al-price-table__head__name Premium Plus 
								.al-price-table__head__price 990$
							.al-price-table__body
								ul
									li 99 GB Cloud Storage
									li Personal Domain Extension
									li Unlimited Bandwidth
									li Free Backup
									li Fast Tools
									li 10 Gbps Transfer Rate
									li Unlimited Cloud Backup
									li
										a(href="#" class="al-btn al-btn-border") Select