section#blog(style="background-color:#fff;")
    .container
        .row.justify-content-center
            .col-lg-8
                .al-heading.text-center
                    h2.al-heading__title Recent Blog Posts
                    p.al-heading__description Tristique velit phasellus sed auctor leo eros luctus nibh fermentum, ad imperdiet rhoncus dolorhabitant purus velit aliquet donecurna ut in turpis

   
        .al-blog-recent-posts
            .al-blog-recent-posts__arrows
                .al-wrap-prev
                    i.fa.fa-angle-left(aria-hidden='true')
                .al-wrap-next
                    i.fa.fa-angle-right(aria-hidden='true')
            .al-blog-recent-posts__content
                article.al-recent-post
                    .al-recent-post__thumb
                        img(src="images/blog/blog.jpg", alt="post1" class="img-responsive")
                    .al-recent-post__container
                        .al-recent-post__container--content
                            .al-post__share
                                .al-post__share__social
                                    a.share-icon.facebook(href='#')
                                        i.fa.fa-facebook
                                    a.share-icon.twitter(href='#')
                                        i.fa.fa-twitter
                                    a.share-icon.googleplus(href='#')
                                        i.fa.fa-google-plus
                                .share-toggle.share-icon
                            h3.al-recent-post__container__title This is Blog Title One
                            p.al-recent-post__ccontainer__text The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor aliqm non dmst dapib  honcs fusce aliqm non dictmst
                            a.al-read-more(href="#") Read more
                                i.fa.fa-long-arrow-right
                article.al-recent-post
                    .al-recent-post__thumb
                        img(src="images/blog/blog1.jpg", alt="post1" class="img-responsive")
                    .al-recent-post__container
                        .al-recent-post__container--content
                            .al-post__share
                                .al-post__share__social
                                    a.share-icon.facebook(href='#')
                                        i.fa.fa-facebook
                                    a.share-icon.twitter(href='#')
                                        i.fa.fa-twitter
                                    a.share-icon.googleplus(href='#')
                                        i.fa.fa-google-plus
                                .share-toggle.share-icon
                            h3.al-recent-post__container__title This is Blog Title One
                            p.al-recent-post__ccontainer__text The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor aliqm non dmst dapib  honcs fusce aliqm non dictmst
                            a.al-read-more(href="#") Read more
                                i.fa.fa-long-arrow-right
                article.al-recent-post
                    .al-recent-post__thumb
                        img(src="images/blog/blog2.jpg", alt="post1" class="img-responsive")
                    .al-recent-post__container
                        .al-recent-post__container--content
                            .al-post__share
                                .al-post__share__social
                                    a.share-icon.facebook(href='#')
                                        i.fa.fa-facebook
                                    a.share-icon.twitter(href='#')
                                        i.fa.fa-twitter
                                    a.share-icon.googleplus(href='#')
                                        i.fa.fa-google-plus
                                .share-toggle.share-icon
                            h3.al-recent-post__container__title This is Blog Title One
                            p.al-recent-post__ccontainer__text The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor aliqm non dmst dapib  honcs fusce aliqm non dictmst
                            a.al-read-more(href="#") Read more
                                i.fa.fa-long-arrow-right
                article.al-recent-post
                    .al-recent-post__thumb
                        img(src="images/blog/blog.jpg", alt="post1" class="img-responsive")
                    .al-recent-post__container
                        .al-recent-post__container--content
                            .al-post__share
                                .al-post__share__social
                                    a.share-icon.facebook(href='#')
                                        i.fa.fa-facebook
                                    a.share-icon.twitter(href='#')
                                        i.fa.fa-twitter
                                    a.share-icon.googleplus(href='#')
                                        i.fa.fa-google-plus
                                .share-toggle.share-icon
                            h3.al-recent-post__container__title This is Blog Title One
                            p.al-recent-post__ccontainer__text The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor aliqm non dmst dapib  honcs fusce aliqm non dictmst
                            a.al-read-more(href="#") Read more
                                i.fa.fa-long-arrow-right
                        

           
                            


            
            .al-blog-recent-posts__dots