section#services(style="background-color:#f9f9f9;")
	.container
		.row.justify-content-center
			.col-lg-8
				.al-heading.text-center
					h2.al-heading__title Our Services
					p.al-heading__description Our Bests Services For You
		.row
			.col-lg-4.col-md-6
				.al-service-item
					.al-service-item__icon
						i.icofont building_alt
					.al-service-item__container
						.al-service-item__title Business Development
						p.al-service-item__description The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor ultrices etiam
			.col-lg-4.col-md-6
				.al-service-item
					.al-service-item__icon
						i.icofont hand_power
					.al-service-item__container
						.al-service-item__title Product Marketing
						p.al-service-item__description The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor ultrices etiam
			.col-lg-4.col-md-6
				.al-service-item
					.al-service-item__icon
						i.icofont eye_open
					.al-service-item__container
						.al-service-item__title Startup Support
						p.al-service-item__description The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor ultrices etiam
			.col-lg-4.col-md-6
				.al-service-item
					.al-service-item__icon
						i.icofont education
					.al-service-item__container
						.al-service-item__title Market Research
						p.al-service-item__description The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor ultrices etiam
			.col-lg-4.col-md-6
				.al-service-item
					.al-service-item__icon
						i.icofont test_tube_alt
					.al-service-item__container
						.al-service-item__title Financial Supports
						p.al-service-item__description The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor ultrices etiam
			.col-lg-4.col-md-6
				.al-service-item
					.al-service-item__icon
						i.icofont chart_histogram_alt
					.al-service-item__container
						.al-service-item__title Investment
						p.al-service-item__description The honcs fusce aliqm non dictmst dapib alorem accman pellenl tesque in temor ultrices etiam