section.al-home-slider.al-intro#home-slider
	.slider-container
		.al-home-slider__slide.al-bg-dark.text-center.al-bg-img.al-vertical-full(data-image="images/sea.jpg")
			.container
				.row.justify-content-center
					.col-lg-8
						.al-tlt-text.al-home-slider__slide__title
							ul.texts
								li Welcome To Kurza
								li We Have a Magic
								li One Page Template
								li For your Business
								li Hello!
						p.al-home-slider__slide__description Tristique velit phasellus sed auctor leo eros luctus nibh fermentum, ad imperdiet rhoncus dolorhabitant purus velit aliquet donecurna ut in turpis faucibus Diam orci dapibus id blandit fames
						.al-btn-section
							a(href="#projects" class="al-btn") See Wokrs
							//- a(href="#contant" class="al-btn") Hire Us
					//- .col-lg-4.offset-lg-1.hide-md.align-self-center
					//- 	img.img-responsive(src="images/mockup-1.png", alt="mocup")
		//- .al-home-slider__slide.al-bg-dark.text-center.al-bg-img(data-image="images/bg.jpg")
		//- 	.container
		//- 		.row.justify-content-center
		//- 			.col-md-8
		//- 				h1.al-home-slider__slide__title We Solve Business Problems
		//- 				p.al-home-slider__slide__description Lorem ipsum eros etiam himenaeos torquent sed suscipit erat tempus proin, fringilla sed nisl in proin integer tempus massa volutpt sagittis augue frigilla libero fusce purus
		//- 				a(href="#" class="al-btn") HIRE US
	//- Controls slider
	.al-dots-control.al-dots-control-home