section(style="background-color:#f9f9f9;")
	.container
		.row
			.col-lg-6
				.al-heading.al-mb-15
					h4.al-heading__title Our Success Stories
					p.al-heading__description Tristique velit phasellus
				p Sed auctor leo eros luctus nibh fermentum, ad imperdiet rhoncus dolor habitant purus velit aliquet donecurna ut in turpis faucibus 
					br
					| Diam orci dapibus id blandit fames, congue urna blandit lobortis praesent, viverra quisque vel eget etiam aenean tincidunt fringilla ultrices quisque ultricies ante donec
			.col-lg-5.offset-lg-1
				.al-skillbar
					.al-skillbar__content
						.clearfix
							.al-skillbar__content__number.pull-left jQuery
							.al-skillbar__content__number.pull-right 90%
						.al-skillbar__content__progress(data-percent='90%')
							.al-skillbar__content__progress__bar
				.al-skillbar
					.al-skillbar__content
						.clearfix
							.al-skillbar__content__number.pull-left PHP
							.al-skillbar__content__number.pull-right 40%
						.al-skillbar__content__progress(data-percent='40%')
							.al-skillbar__content__progress__bar
				.al-skillbar
					.al-skillbar__content
						.clearfix
							.al-skillbar__content__number.pull-left WordPress
							.al-skillbar__content__number.pull-right 60%
						.al-skillbar__content__progress(data-percent='60%')
							.al-skillbar__content__progress__bar
				.al-skillbar
					.al-skillbar__content
						.clearfix
							.al-skillbar__content__number.pull-left HTML
							.al-skillbar__content__number.pull-right 70%
						.al-skillbar__content__progress(data-percent='70%')
							.al-skillbar__content__progress__bar