section#team(style="background-color:#f9f9f9;")
	.container
		.row.justify-content-center
			.col-lg-8
				.al-heading.text-center
					h2.al-heading__title Meet With Our Team
					p.al-heading__description Tristique velit phasellus sed auctor leo eros luctus nibh fermentum, ad imperdiet rhoncus dolorhabitant purus velit aliquet donecurna ut in turpis
		.row
			.col-lg-3
				.al-team.al-tilt
					img(src="images/team1.jpg", alt="team1" class="al-team__img")
					.al-team__title Jatiya Islam Riha
					.al-team__description Product Designer
					ul.al-social
						li
							a(href="#")
								i.fa.fa-facebook
						li
							a(href="#")
								i.fa.fa-twitter
						li
							a(href="#")
								i.fa.fa-pinterest
			.col-lg-3
				.al-team.al-tilt
					img(src="images/team2.jpg", alt="team2" class="al-team__img")
					.al-team__title Imraan Fahmatul
					.al-team__description Web Developer
					ul.al-social
						li
							a(href="#")
								i.fa.fa-facebook
						li
							a(href="#")
								i.fa.fa-twitter
						li
							a(href="#")
								i.fa.fa-pinterest
			.col-lg-3
				.al-team.al-tilt
					img(src="images/team3.jpg", alt="team3" class="al-team__img")
					.al-team__title Himel Hossiba Jitu
					.al-team__description Senior Marketer
					ul.al-social
						li
							a(href="#")
								i.fa.fa-facebook
						li
							a(href="#")
								i.fa.fa-twitter
						li
							a(href="#")
								i.fa.fa-pinterest
			.col-lg-3
				.al-team.al-tilt
					img(src="images/team4.jpg", alt="team4" class="al-team__img")
					.al-team__title Sadia Jahan Tisha
					.al-team__description Web Programer
					ul.al-social
						li
							a(href="#")
								i.fa.fa-facebook
						li
							a(href="#")
								i.fa.fa-twitter
						li
							a(href="#")
								i.fa.fa-pinterest
