footer
    .container
        .row
            .col-lg-4
                .footer-widget
                    h3 About Us
                    p Tristique velit phasellus sed auctor leo eros luctus nibh fermentu ad impediet rhonus dolor habitant purus velit aliquet donecurna ut in turpis faucibus
                    ul.al-social
                        li
                            a(href="#")
                                i.fa.fa-facebook
                        li
                            a(href="#")
                                i.fa.fa-twitter
                        li
                            a(href="#")
                                i.fa.fa-pinterest
                        li
                            a(href="#")
                                i.fa.fa-instagram
            .col-lg-2
                .footer-widget
                    h3 Company
                    ul.footer-widget__nav
                        li
                            a(href="#") About
                        li
                            a(href="#") Support
                        li
                            a(href="#") Tems
                        li
                            a(href="#") Privacy
            .col-lg-2
                .footer-widget
                    h3 Support
                    ul.footer-widget__nav
                        li
                            a(href="#") About
                        li
                            a(href="#") Support
                        li
                            a(href="#") Tems
                        li
                            a(href="#") Privacy
            .col-lg-4
                .footer-widget
                    h3 Subscribe Us
                    p Get latest update and newsletter
                    form.al-subscribe-form(action="/" method="get" id="al-subscribe-form")
                        .al-input-group
                            input(type="email" name="email" id="mailchimp_email" required="" placeholder="Email Address *")
                            i.fa.fa-envelope
                        #response.al-notify.is-hidden
                        button(type="submit" class="al-btn") Subscribe

.footer-down Copyright © BrainiakThemes - 2018 | All Right Reserved