// <base href="/">
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
// Template Basic Images Start
meta(property='og:image', content='path/to/image.jpg')
link(rel='icon', href='img/favicon/favicon.ico')
link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-touch-icon-180x180.png')
// Template Basic Images End
// Custom Browsers Color Start
meta(name='theme-color', content='#000')
// Fonts
link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Mukta:600,700" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Mukta:600,700" rel="stylesheet")
// Custom Browsers Color End
link(rel='stylesheet', href='libs/icofont/css/icofont.css')
link(rel='stylesheet', href='libs/superfish-master/css/superfish.css')

if styler
	link(rel='stylesheet', data-style="styles-no-cookie", href='css/main.css')
	link(rel='stylesheet', data-style="styles", href='#')
else
	link(rel='stylesheet', href='css/main.css')

