header#top-nav
    .container
        .row
            a.al-logo(href="#")
                span K
                | urza
            nav.al-top-nav
                ul.sf-menu
                    li
                        a(href="#") Home
                    li
                        a(href="#about") About
                    li
                        a(href="#services") Services
                    li
                        a(href="#projects") Projects 
                    li
                        a(href="#feedback") Feedback
                    li
                        a(href="#team") Team
                    li
                        a(href="#blog") Blog
                    li
                        a(href="#contant") Contact
                // Start toggle menu
                a(href='#', class="toggle-mnu")
                    span
                .al-mobile-menu
                    ul