//Google map
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCKnJ2zbOWNw-zEPgpXHvoLLAsLZsSMbgE&sensor=false')
//Use scripts

script(src='js/scripts.min.js')

//- script(src='js/common.min.js')
script(src='js/common.js')

//Customizer
//- script(src='libs/style-customizer/style-customizer.js')