// style-customizer start
.style-customizer.closed
	.buy-button
		a.opener(href='#')
			i(class="fa fa-cog fa-spin fa-fw" aria-hidden="true")
	.clearfix.content-chooser
		h3 Color Schemes
		p Which theme color you want to use? Select from here.
		ul.styleChange.clearfix
			li.color-0.selected(title='color-0', data-style='css/main.css')
			li.color-1(title='color-1', data-style='css/main1.css')
			li.color-2(title='color-2', data-style='css/main2.css')
			li.color-3(title='color-3', data-style='css/main3.css')
			li.color-4(title='color-4', data-style='css/main4.css')
			li.color-5(title='color-5', data-style='css/main5.css')
			li.color-6(title='color-6', data-style='css/main6.css')
			li.color-7(title='color-7', data-style='css/main7.css')
			li.color-8(title='color-8', data-style='css/main8.css')
			li.color-9(title='color-9', data-style='css/main9.css')
			li.color-10(title='color-10', data-style='css/main10.css')
			li.color-11(title='color-11', data-style='css/main11.css')
			//- li.color-11(title='color-12', data-style='css/main12.css')
		ul.resetAll
			li
				a.button.button-border.button-reset(href='#') Reset All
// style-customizer end

script(src='libs/style-customizer/style-customizer.js')
link(rel='stylesheet', href='libs/style-customizer/style-customizer.css')