//Next project
#image-modal.modal-box.mfp-hide
    img(src='images/portfolio/pr1.jpg', class='img-responsive', alt='work')
    .modal-box-content
        h2 Project 
            span title
        p Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        hr
        h3 Detalis
        ul.list-project
            li
                b Client: 
                | Alian4x
            li
                b Date: 
                | 23th, April, 2018
            li
                b Live: 
                a(href="#") View project
                    i(class="fa fa-external-link" aria-hidden="true")
    button.mfp-close(title='Close (Esc)', type='button') ×
//Next project
#galerry-modal.modal-box.mfp-hide
    .post-thumb
        .slider-wrap.gallery-slide
            .slider-portfolio-single
                img(src='images/portfolio/pr2.jpg', alt='')
                img(src='images/portfolio/pr3.jpg', alt='')
                img(src='images/portfolio/pr4.jpg', alt='')
                img(src='images/portfolio/pr5.jpg', alt='')
             
            .prev-next-block-rotate.opacity-control.al-control-portfolio-slider
                .wrap-prev
                    .prev
                        i.fa.fa-angle-left(aria-hidden='true')
                .wrap-next
                    .next
                        i.fa.fa-angle-right(aria-hidden='true')
            // Control sliders
            .dots-control-carousel.al-dots-control

    .modal-box-content
        h2 Project 
            span title
        p Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        hr
        h3 Detalis
        ul.list-project
            li
                b Client: 
                | Alian4x
            li
                b Date: 
                | 23th, April, 2018
            li
                b Live: 
                a(href="#") View project
                    i(class="fa fa-external-link" aria-hidden="true")
    button.mfp-close(title='Close (Esc)', type='button') ×

//Next project
#video-modal.modal-box.mfp-hide
    iframe(src="https://www.youtube.com/embed/6Fg8733eOkg" allowfullscreen)
    .modal-box-content
        h2 Project 
            span title
        p Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        hr
        h3 Detalis
        ul.list-project
            li
                b Client: 
                | Alian4x
            li
                b Date: 
                | 23th, April, 2018
            li
                b Live: 
                a(href="#") View project
                    i(class="fa fa-external-link" aria-hidden="true")
    button.mfp-close(title='Close (Esc)', type='button') ×

//Next project
#video-gallery-modal.modal-box.mfp-hide
    .post-thumb
        .slider-wrap.gallery-slide
            .slider-portfolio-single
                .al-iframe-content
                    iframe( src="https://www.youtube.com/embed/6Fg8733eOkg" allowfullscreen)
                .al-iframe-content
                    iframe(src="https://www.youtube.com/embed/TLZNQ6aWy4U" allowfullscreen)
                
            .prev-next-block-rotate.opacity-control.al-control-portfolio-slider
                .wrap-prev
                    .prev
                        i.fa.fa-angle-left(aria-hidden='true')
                .wrap-next
                    .next
                        i.fa.fa-angle-right(aria-hidden='true')
            // Control sliders
            .dots-control-carousel.al-dots-control

    .modal-box-content
        h2 Project 
            span title
        p Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        hr
        h3 Detalis
        ul.list-project
            li
                b Client: 
                | Alian4x
            li
                b Date: 
                | 23th, April, 2018
            li
                b Live: 
                a(href="#") View project
                    i(class="fa fa-external-link" aria-hidden="true")
    button.mfp-close(title='Close (Esc)', type='button') ×

//Next project
#image-modal-1.modal-box.mfp-hide
    img(src='images/portfolio/pr5.jpg', class='img-responsive', alt='work')
    .modal-box-content
        h2 Project 
            span title
        p Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        hr
        h3 Detalis
        ul.list-project
            li
                b Client: 
                | Alian4x
            li
                b Date: 
                | 23th, April, 2018
            li
                b Live: 
                a(href="#") View project
                    i(class="fa fa-external-link" aria-hidden="true")
    button.mfp-close(title='Close (Esc)', type='button') ×
//Next project
#image-modal-2.modal-box.mfp-hide
    img(src='images/portfolio/pr6.jpg', class='img-responsive', alt='work')
    .modal-box-content
        h2 Project 
            span title
        p Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        hr
        h3 Detalis
        ul.list-project
            li
                b Client: 
                | Alian4x
            li
                b Date: 
                | 23th, April, 2018
            li
                b Live: 
                a(href="#") View project
                    i(class="fa fa-external-link" aria-hidden="true")
    button.mfp-close(title='Close (Esc)', type='button') ×